.Search {
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.Form {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10px 10px;
}