.Layout {
    background-color: #7BB2D9;
    margin: auto;
    /* width: 90%; */
    border: 1px solid;
    padding: 10px;
}

.Header {
    text-align: center;
    padding-top: 30px;
}

.Box {
    /* border-style: solid; */
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}