.Layout {
    background-color: #FFE7D9;
}

.Header {
    text-align: center;
    padding-top: 30px;
}

.VideoStreams {
    display: inline-block;
    align-items: center;
    justify-content: center;
}