.Layout {
    background-color: #FFE7D9;
    margin: auto;
    /* width: 90%; */
    border: 1px solid;
    padding: 10px;
}

.Header {
    text-align: center;
    padding-top: 30px;
}

.Box {
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}